
.form_inner{
    box-shadow: 12px 1px 20px 7px #bbd6ff;
    padding: 25px;
    border-radius: 5px;
}

@keyframes slide {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.form_inner {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slide;
}
  
